In [1]:
import pandas as pd

In [53]:
df = pd.DataFrame({'time':pd.date_range(start='2018-01-01 00:00:00',end='2018-12-31 00:00:00', freq='H')}, index=None).reset_index(drop=True)
df.head()

                 time
0 2018-01-01 00:00:00
1 2018-01-01 01:00:00
2 2018-01-01 02:00:00
3 2018-01-01 03:00:00
4 2018-01-01 04:00:00

In [87]:
df.loc[df['time']>'2018-10-30'].iloc[[0,]].index[0]

7249